// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h2{
  color:red;
}

#tag_list {
  width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #aaa;
}

#loading{
  text-align: center;
}